:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  display: flex;
  justify-content: center;
}

.contenedor-form {
  display: flex;
  width: 600px;
  justify-content: center;
  border-radius: 4%;
  padding-bottom: 30px;
  box-shadow: 0px 0px 10px 0.01px gray;
  margin-top: 100px;
  margin-right: 10px;
  margin-left: 10px;
}

.titulo-formulario h1 {
  color: rgb(61, 154, 219);
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

.contenedor-campos {
  width: 550px;
}

.campo-formulario p {
  font-weight: 600;
}

.campo-formulario input,
textarea {
  width: 537px;
  height: 30px;
  border-radius: 5px;
  border-color: rgb(192, 192, 192);
  border-width: 1px;
  border-style: solid; /* Asegúrate de incluir esta línea */
  padding-left: 10px;
}

.campo-formulario textarea {
  height: 60px;
  margin-bottom: 25px;
}

button {
  width: 550px;
  height: 38px;
  background-color: rgb(52, 152, 219);
  border-width: 0;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: rgb(123, 197, 247);
  box-shadow: 0px 0px 10px 0.01px gray;
  transition: 0.3s;
}

button:not(:hover) {
  background-color: rgb(52, 152, 219);
  transition: 0.8s;
}
